# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# Testing
/coverage

# Next.js build output
/.next/
/out/
/build
/dist

# Prisma
/prisma/*.db
/prisma/*.db-journal

# Environment variables
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor
.vscode/
.idea/
*.swp
*.code-workspace
*.tsbuildinfo
